<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Location generator</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<div id="main-content" class="container">
	<br>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="generate">Location generator:</label>
                    <button id="generate" class="btn btn-default">Generate</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
           
                
                  <div class="alert" role="alert">Status</div>
            
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6">
            <table id="locationsLeft" class="table table-striped">
                <thead>
                <tr>
                    <th>Step</th>
                    <th>X coordinate</th>
                    <th>Y coordinate</th>
                </tr>
                </thead>
                <tbody id="locationsBase">
                <tr th:each="location : ${route}">
                    <td th:text="${location.step}"></td>
                    <td th:text="${location.x}"></td>
                    <td th:text="${location.y}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table id="locationsRight" class="table table-striped">
                <thead>
                <tr>
                    <th>Step</th>
                    <th>X coordinate</th>
                    <th>Y coordinate</th>
                </tr>
                </thead>
                <tbody id="locations">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>